
a {
    
    color: 	#8FBC8F !important;
    font-size: large;
    

}

a:hover {

    color:  #5f9f5f!important;
    text-decoration: none !important;
}

main {

    position: absolute;
    margin: 50px auto;
    left: 0px;
    right: 0;
}

body {

    font-family: 'Roboto', sans-serif;

   
}

.card {

    border-style: none;
    display: inline-block;
    width: 500px;
   
}

.card-body {
    
    text-align: center;
    
}

.btn {

    background-color: 	#8FBC8F !important;
}

@media only screen and (max-width: 600px){

 
    .card {

        width: 300px;
    }

    #contact {

        width: 100%
    }
    
  

}